.list-new {
	/* margin-top: 8px; */
}
.station-list .td-for-edit {
	width: 40px !important;
	padding-top: 6px !important;
}
.station-list .td-for-delete {
	width: 43px !important;
	padding-top: 6px !important;
}
.station-list td.col-1 {
	font-weight: bold;
	font-size: 12px;
	color: #444;
	text-decoration: underline;
}
.station-list td.col-2 {
	font-weight: 400;
	font-size: 12px;
	color: #777;
}
.station-list td, .station-list th {
	cursor: pointer;
	padding-left: 5px !important;
	padding-right: 2px !important;
	padding-top: 9px !important;
	padding-bottom: 5px !important;
	font-size: 13px;
	line-height: 20px;
}
.station-list th {
	font-size: 12px !important;
}
.station-list {
	margin: 13px 0 9px 0;
}
.station-list.in-subpanel{
	margin-top: 0;
}
.station-list.in-subpanel span {
	font-size: 15px;
}
.dialog .btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
.navbar-default {
	border-radius: 0;
	-webkit-border-radius: 0; 
  	-moz-border-radius: 0; 
}
.station-form {
	margin: 0 0 150px;
}
.navbar .navbar-form {
	margin: 0 -21px 0 0 !important;
}
.station-form-submit {
	margin: 30px 6px 0 0;
	float: left;
	display: block;
	font-size: 16px;
	font-weight: 300;
}
.gravatar {
	border: 1px solid #5F5F5F;
	border-radius: 0;
}
.nav-list .nav-header {
	padding-top: 20px !important;
	color: #F8F7F7 !important;
	font-weight: 200;
	cursor: pointer;
	text-transform: none;
	font-size: 15px !important;
	padding-left: 40px;
	padding-right: 31px;
}
.nav-list .nav-header:hover {
	color: #eee !important;
}
.nav-list-vivid .nav-header:first-child {
	padding-top: 10px !important;
}
.dialog {
  padding: 16px 0 20px 17px;
  text-align: left;
}
.station-list .btn {
	opacity: .2 !important;
}
.station-list tr:hover .btn-default, .station-list tr:hover .btn-danger:hover, 
.station-list li:hover .btn-default:hover, .station-list li:hover .btn-danger:hover {
	opacity: 1 !important;
}
.form-canceler {
	display: block;
	float: left;
	line-height: 111px;
	margin: 0 0 0 22px;
}
.station-form .radio-wrap {
    width: 100%;
    clear: both;
    float: left;
    min-height: 75px;
}
.station-form label.radio {
    float: left;
    margin: 0 25px 11px 0;
    cursor: pointer;
}
.station-form .label-wrap span {
	display: block;
	float: right;
	font-size: 12px;
	line-height: 39px;
	margin: 0 4px 0 0;
	color: #888;
}
.station-form .label-wrap span.for-embedder {
	display: inline;
	float: none;
	line-height: 13px;
	margin: 0 3px 0 0;
	color: #fff;
}
.station-form .label-wrap a.for-embedder {
    float: right;
	
    margin: 8px 19px 0 0;
}
.station-form .label-wrap {
    clear: both;
	
    width: 100%;
    /* float: left; */
    display: block;
    font-weight: 300;
    font-size: 16px;
}
.station-form .label-wrap sup {
	color: #de342e;
	/* line-height: 17px; */
	margin: 0 0 0 4px;
	padding: 0 0 0 0;
	font-size: 12px;
}
#sidebar {
	margin-bottom: 20px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #3a3637!important;
	border-radius: 0;
	width: 17%;
	height: 3000px;
	overflow: hidden;
}
#sidebar-container {
	
}
#content-container {
    margin-top: 25px;
	
}
.input-group.with-append {
	width: 340px;
}
.station-list-wrap {
	margin-bottom: 100px;
}

.navbar > .container .navbar-brand {
	background: none;
	width: 280px;
	height: 73px;
	text-indent: 0;
	padding: 0 0 0 17px;
	line-height: 82px;
	font-size: 31px;
	font-weight: bold;
	color: #27374b;
}
.navbar-default {
	background: #FFF !important;
	border-bottom: 1px solid #DFDFDF;
}
.nav-list-vivid {
	background: #EBEBEB !important;
}
.nav-list-vivid > li.active > a, .nav-list-vivid > li.active > a:hover, .nav-list-vivid > li.active > a:focus {
	background: #1C977C !important;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -20px;
	padding-left: 27px;
}

ul.is-reorderable .col-0 {
	margin: 0 10px 0 0;
}
ul.is-reorderable .col-delete {
	float: right;
	padding-top: 0 !important;
	width: 29px !important;
}
ul.is-reorderable {
	cursor: move;
}
.img-crop-version-label {
    width: 157px;
    display: inline-block;
    float: left;
    line-height: 15px;
    text-align: left;
}
.img-crop-version-eyeball {
    float: left;
	
    line-height: 15px;
}
.station-crop-decider button {
	margin: 10px 14px 0 0;
}
.jcrop-keymgr {
	opacity: 0 !important;
}
.btn-group.w-no-size .img-crop-version-label {
	width: 187px !important;
}
.spinner {
	width: 100px !important;
}
.station-file-upload-wrap {
	border: 2px solid #BDC3C7;
	/* float: left; */
	width: 100%;
	box-sizing: border-box;
	padding: 13px 0;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	margin: 0 0 0px 0;
	background: #FAFAFA;
	display: block;
	clear: both;
}
.station-file-upload-wrap.snapped-to-textarea {
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #DBDBDB;
    display: none;
}
.station-file-upload-controls {
    margin: 2px 0 18px 0 !important;
    padding: 0 !important;
}
.station-img-thumbnail {
	cursor: pointer;
}
.station-img-thumbnail:hover {
	border-color: #aaa;
}
#station-fileupload-hud {
	margin: 0 0 10px 0 !important;
}
.station-media {
	margin: 0 0 10px 0;
}
.for-sub-list-header {
	position: absolute;
	top: 8px;
	right: 0;
}
.nav-list-vivid > li, .nav-list-vivid > li > a {
	font-size: 11px !important;
	font-weight: 200;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 9px;
	color: #c5c4c4;
	padding-left: 20px;
}
.nav-list-vivid > li > a:hover {
	background-color: #333;
	color: #fff;
}
.nav-list-vivid > li span {
	color: #1c977c;
}
.station-list .chosen-container {
    font-size: 12px;
    margin: 0 0 -5px -12px;
}
.station-list .chosen-container-active .chosen-single, .station-list .chosen-container .chosen-single {
    line-height: 22px;
    height: 22px;
    padding: 10px;
}
.station-list .chosen-container-single .chosen-single span {}
.station-list .chosen-container-single .chosen-single div b {
    background-position: 0 1px;
}
.station-list .chosen-container-active.chosen-with-drop .chosen-single, 
.station-list .chosen-container .chosen-single,
.station-list .chosen-drop {
	border-color: #eee;
}
.station-list th {
    padding-bottom: 11px !important;
	
    white-space: nowrap;
    padding-right: 29px !important;
}
.station-list .chosen-container-single .chosen-single abbr {
	top: 5px;
	right: 19px;
}
.navbar-nav .dropdown a {
	text-transform: uppercase;
	font-size: 11px !important;
	line-height: 31px !important;
	letter-spacing: 2px;
	color: #888 !important;
	padding-right: 0 !important;
	padding-left: 40px !important;
}
.navbar-nav .dropdown a:hover {
	color: #333 !important;
}
.nav-list .badge.pull-right {
    background-color: #f0162c;
	
    border-radius: 14px;
    font-size: 11px;
    margin: -8px 12px 0 0;
    line-height: 21px;
    color: #fff;
    border: 2px solid #fff;
}
.nav-list .active .badge.pull-right {
    margin-top: -8px;
	
    font-size: 9px;
}
.station-list span.col-1 {
    margin-left: 6px;
}
.station-list span.col-2 {
    font-size: 13px;
    margin: 0 0 0 16px;
    font-weight: 500;
}
.station-list span.col-3, .station-list span.col-4, .station-list span.col-5, .station-list span.col-6 {
    font-size: 12px;
    margin: 0 0 0 12px;
}
.datetimeEntry_control {
	display: none;
}
.station-list .inline-thumb {
	margin: 0 0 4px 0;
	width: 100px;
	height: 100px;
}
.station-list-load-more {
	text-align: center;
	margin: 70px;
}
.list-record-deleter {
	margin: 4px 0 0 0;
}
.dd-list .list-record-deleter {
	margin: 1px 0px 0 0;
	line-height: 16px;
	border-radius: 0 5px 5px 0;
}
.station-form-header a {
	margin-left: 6px;
}
.station-quick-find-wrap {
	width: 210px;
	float: left;
	margin: 1px 0 0 0;
}
.station-list-head-right > div, .station-list-head-right > a {
	float: right;
	font-size: 15px;
}
.station-list-head-right {
	width: 50%;
	margin: 8px 0 0 0;
}
.ui-menu .ui-menu-item a {
	font-size: 14px;
}
#station-quick-find {
    border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px; 
  	-moz-border-radius: 6px 0 0 6px; 
    font-size: 12px;
}
.station-creator {
	margin: 0 0 0 10px
}
.station-file-options {
	margin: 0 0 30px;
}
.markdown-helper {
	color: #269677 !important;
	text-decoration: underline;
	cursor: pointer;
}

/**
 * Nestables
 */

.cf:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}
* html .cf { 
	zoom: 1; 
}
*:first-child+html .cf { 
	zoom: 1; 
}

.dd { 
	position: relative; 
	display: block; 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	font-size: 13px; 
	line-height: 20px; 
}

.dd-list { 
	display: block; 
	position: relative; 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
.dd-list .dd-list { 
	padding-left: 30px; 
}
.dd-collapsed .dd-list { 
	display: none; 
}
.dd-item,
.dd-empty,
.dd-placeholder { 
	display: block; 
	position: relative; 
	margin: 0; 
	padding: 0; 
	min-height: 20px; 
	font-size: 13px; 
	line-height: 20px; 
}

.dd-handle { 
	display: block; 
	height: 30px; 
	margin: 5px 0; 
	padding: 5px 10px; 
	color: #27374b; 
	text-decoration: none; 
	font-weight: bold; 
	border: 1px solid #ccc;
    
	background: #FFFFFF;
    
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
	cursor: move;
}
.dd-item .dd-item .dd-handle {
	font-weight: normal !important;
	color:  #555;
}
.dd-list .fui-new {
	cursor: pointer;
	position: relative;
	float: left;
	margin: 6px 0 0 11px;
	opacity: .5;
}
.dd-list .fui-new:hover {
	opacity: 1;
}
.dd-handle:hover { 
	color: #269677; 
	background: #eee; 
}
.dd-item > button { 
	display: block; 
	position: relative; 
	cursor: pointer; 
	float: left; 
	width: 25px; 
	height: 20px; 
	margin: 5px 0; 
	padding: 0; 
	text-indent: 100%; 
	white-space: nowrap; 
	overflow: hidden; 
	border: 0; 
	background: transparent; 
	font-size: 12px; 
	line-height: 1; 
	text-align: center; 
	font-weight: bold; 
}
.dd-item > button:before { 
	content: '+'; 
	display: block; 
	position: absolute; 
	width: 100%; 
	text-align: center; 
	text-indent: 0; 
}
.dd-item > button[data-action="collapse"]:before { 
	content: '-'; 
}
.dd-placeholder,
.dd-empty { 
	margin: 5px 0; 
	padding: 0; 
	min-height: 30px; 
	background: #e4fff3; 
	border: 1px dashed #b6bcbf; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.dd-empty { 
	border: 1px dashed #bbb; 
	min-height: 100px; 
	background-color: #e5e5e5; 
}

.dd-dragel { 
	position: absolute; 
	pointer-events: none; 
	z-index: 9999; 
}
.dd-dragel > .dd-item .dd-handle { 
	margin-top: 0; 
}
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.dd-dragel .fui-new {
	margin-right: 10px;
}
.virtual-field {
    position: absolute;
    z-index: 99;
    right: 50px;
    top: 5px;
}
.station-list-wrap .drag-drop-notice {
    position: absolute;
    left: 15px;
    top: -25px;
    font-size: 10px;
    line-height: 7px;
    background-color: #ddd;
    border-radius: 0;
}
ul.in-subpanel span.switch-cont, span.switch-cont {
	float: right;
	margin: 1px 0 0 19px;
	margin-top: 3px !important;
}
ul.in-subpanel > li > span {
	margin: 0 0 0 16px
}
.station-parsed-url-controls {
	margin: 5px 0 10px 0px;
	padding: 0;
}
.fetcher {
	cursor: pointer;
}
.station-form-options {
    float: right;
    margin: 15px 0 0 0;
}
.station-list .checkbox {
	padding: 0;
	margin: 0 0 0 10px;
}
.station-list .checkbox .icons span {
	border-radius: 13px;
}
.fixed-bottom-tooltip {
	position: fixed;
	bottom: -150px;
	z-index: 999;
	left: 0;
	width: 100%;
	height: 1px;
	background: none;
}
.fixed-bottom-tooltip .tooltip-inner {
	width: 400px;
	max-width: none;
}
.station-form-header {
	margin: 0 0 20px 0;
}
.nav-user-control {
	height: 48px;
	/* border-bottom: 1px solid #807478; */
	/* padding-bottom: 12px !important; */
	/* line-height: 60px !important; */
	margin-bottom: 16px !important;
}
.nav-list-vivid > li.nav-user-control a {
	color: #89b3de !important;
	font-size: 14px !important;
}
.nav-user-control a:hover {
	background: none !important;
}
.nav-list-vivid > li.nav-user-control span {
	color: #807478;
	margin: 5px 0 0 0;
}
.nav-list-vivid > li.nav-user-control span:hover {
	color: #fff;
}
textarea.embedder.open {
    border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
    border-top: 0;
}
.embedder-versions {
	float: left;
}
.embedder-versions h5 {
    font-size: 12px;
	
    margin: -14px 0 0 0;
    color: #AAA;
}

.log-outter {
    padding: 3px 17px !important;
    box-sizing: border-box;
    margin: 0 !important;
}

#station-branding a {
    font-size: 20px !important;
    line-height: 50px;
}

input.embedder-snippet {
    margin: 0;
    font-size: 11px;
    float: left;
    width: 60%;
    padding: 3px 10px;
    background: #ffffcc;
    border: 1px solid #ccc;
}
.mobile-menu {
	display: none;
}

/* responsive stuff */
@media (max-width: 1024px) {
  body {
  	width: 100%;
  }
  #sidebar-container {
  	display: none;
  	width: 100% !important;
  	position: absolute;
  	z-index: 99;
  	left: 0;
  	top: 0;
  }
  #sidebar {
    width: 100%;
    top: 35px;
    box-sizing: border-box;
    padding-top: 10px;
}
  .mobile-menu {
	display: block;
	position: fixed;
	background: #333;
	width: 100%;
	color: #fff;
	box-sizing: border-box;
	padding: 0 10px;
	height: 38px;
	z-index: 999;
	min-width: 0;
	margin: 0;
	overflow: hidden;
	top: 0;
	left: 0;
	}
	.nav-opener {
		display: block;
		float: left;
		line-height: 40px;
		cursor: pointer;
	}
	#content-container {
		padding-top: 27px;
		overflow: hidden;
	}
	.container, .row {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	#station-branding {
		display: none !important;
	}
	h5 {
		font-size: 20px;
	}
}